*{
	font-family: Helvetica;
	margin: auto;
}
a{
	text-decoration: none;
	text-transform: uppercase;
	color: white;
}
ul{
	height: 50px;
	margin: none;
}
li{
	display: inline-block;
	padding-left: 10px;
	position: relative;
}
#navBar{
	background-color: black;
	height: 50px;
	max-width: 100%;
	padding-bottom: 10px;
	font-size: 13px;
}
#tedLogo{
	padding: 18px;
	position: relative;
}
#leftNav{
	float: right;
	margin-right: 15px;
	height: 50px;
}
#login{
	border-left: 1px #999 solid;
}
#search{
	padding-right: 5px;
	border-left: 1px #999 solid;
}
#headerMain{
	height: 444px;
	background-image: url(https://pi.tedcdn.com/r/pe.tedcdn.com/images/ted/3835fef688def1e83ec53df17421b3c7092b0366_2880x1620.jpg?blur=0%2C10&cb=20160613&quality=63&u=&w=150);
	max-width: 100%;
	background-position: center;
	background-size: cover;
}
#mainLeft{
	float: left;
	padding: 15px;
	margin-top: 55px;
}
#mainRight{
	float: right;
	padding: 65px;
}
#imgTwo{
	padding: 30px;
}
#scrolls{

}
#scrollTop{
	margin-top: 80px;
	position: relative;
}
#scrollBottom{
	margin-top: 150px;
}